<!DOCTYPE html>
<html lang="en">
<head>

     <title>PC-Games</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="icon" type="image/png" href="images/logo.png"/>
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/animate.css">
     <link rel="stylesheet" href="css/owl.carousel.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-style.css">
     <link rel="stylesheet" href="./css/user.css">
     <style>
          .mySlides {display:none;}
          </style>
     
 </head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">     
<!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>
     <!-- MENU -->
     <section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.ejs" class="navbar-brand"><img src="./images/Asset 3.png" style="position:fixed; margin-top:-20px" width="60" height="60"></a>
               </div>
              <!-- MENU -->
              <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">About Us</a></li>
                         <li><a href="#news" class="smoothScroll">Games</a></li>
                         <li><a href="#newss" class="smoothScroll">Last news</a></li>
                         <li><a href="#" class="smoothScroll">Forum</a></li>
                         <li><a href="#appointment" class="smoothScroll">Contact</a></li>
                         <!-- <li><a href="login" class="smoothScroll"><button class="btn btn-primary" type="submit">Login</button></a></li> -->
                         <!-- <li><a href="register" class="smoothScroll"><button class="btn btn-primary" type="submit">Register</button></a></li> -->
                    </ul>
              </div>
          </div>
     </section>
     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h1>Joind Team</h1><br>
                                             <a href="forum" class="section-btn btn btn-default smoothScroll">Meet Team</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-second">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h1>Games</h1><br>
                                             <a href="#news" class="section-btn btn btn-default btn-gray smoothScroll">Last News</a>
                                        </div>
                                   </div>
                              </div>

                        </div>

               </div>
          </div>
     </section>
     <!-- ABOUT -->
     <section id="about">
                  <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                             <div class="about-info">
                             <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome To Community </h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                 <br>                            
                                        <p>PC-Games Modding est un site web interactive pour la communauté de 
                                             jeux  pour PC .Ce genre de site existe dans autre pays , le concept consiste 
                                             a réunir la communauté de gamer tunisien, ces derniers  peuvent développer 
                                             des greffons qui s'ajoute a l'original du jeu , ainsi ils sont publiés sur le site 
                                             aui aprés sera consommer par la communauté. <p> Ces greffons développer sont des fichiers 
                                             de configuration qui permettrons aux utilisateurs d'ajouter de nouvelle fonctionnalités 
                                             aux jeux et d'améliorer les performance graphique , <a href="#"><b> More detail</b></a></p>
                                        </p>
                                    </div>
                            </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <br><br>
                              <div class="w3-content w3-section" style="text-align: center;">
                                   <img class="mySlides" src="./images/gaming-community-feature-image_feature.jpg" width="600px" height="300" >
                                   <img class="mySlides" src="./images/C.png" width="600px"  height="300">
                                   <img class="mySlides" src="./images/cc.jfif" width="600px"  height="300" >
                                   <img class="mySlides" src="./images/ccc.jfif" width="600px"  height="300" >
                                 </div>
                         </div>
                    </div>     
               </div>
          </div>
     </section>
     <hr>
     <!-- lasted games -->
     <section id="news" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2 style="text-align: center;"> Games</h2>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="images/7zBsd8jn28fczmhsS7dBjk-450-80.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Black Desert</h3>
                                          <div class="team-contact-info">
                                             <p><a href="#">Black Desert Online revealed its 2020 roadmap last week,
                                              giving players a look at a new feature where they can let out their music
                                              spirit with playable instruments. The roadmap also teased new classes, including the Guardian,
                                              a powerful northern warrior who wields a battle axe. </a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="images/bug.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>PUBG</h3>
                                        <div class="team-contact-info">
                                          <p>The last few months have been a bit bumpy in PlayerUnknown's Battlegrounds, 
                                               as evidenced by the tone of the Steam forums and subreddit, which are full
                                                of frustrated posts about crashes, stuttering and cheating. 
                                               Some of the issues started with Season 6, but others go back to last year.  </p>   
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-flickr"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="images/L6SX7rxyZGhWJSc54cran9-610-80.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Valorant</h3>
                                             <div class="team-contact-info">
                                             <p>You won't have to wait long to play Riot Games' take on a hardcore shooter, 
                                                  aka Valorant, is planned to release this summer.
                                                   Announced during a recent hands-on preview event, producer Anna Donlon 
                                                   revealed that Valorant would first go through a beta test before Riot Games
                                                    would confirm an exact release date.</p>
                                             </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>
                                        
               </div>
          </div>
          <div class="container">
               <div class="row">
                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="../images/download (2).jfif" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Need for Speed </h3>
                                          <div class="team-contact-info">
                                             <p> Need For Speed est une série de 
                                                  jeux vidéo de courses de voitures éditée 
                                                  par Electronic Arts et apparue en 1994.
                                                   Le premier épisode sort sur les consoles 3DO puis PlayStation et Saturn
                                             </p><br><a href="https://www.ea.com/games/need-for-speed"><b> Read More</b></a></div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="../images/league-of-legends-mobile.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>League of legends</h3>
                                        <div class="team-contact-info">
                                          <p> League of Legends, anciennement nommé League of Legends: 
                                               Clash of Fates est un jeu vidéo de type arène de bataille 
                                               en ligne gratuit développé et édité par Riot Games sur Windows et Mac OS X . <br>
                                               <a href="https://euw.leagueoflegends.com/fr-fr/"> <b> Read More</b></a> 
                                             </p>   
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-flickr"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="../images/ealaunchtumb.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Satisfactory</h3>
                                             <div class="team-contact-info">
                                             <p>Satisfactory est un jeu vidéo en early access de simulation et de construction en vue 
                                                  à la première personne dans un monde ouvert développé par Coffee Stain Studios. 
                                                   Le jeu s'apparente à Factorio mais en vue à la première personne et en 3D</p>
                                                 <br> <a href="https://www.satisfactorygame.com"><b> Read More</b></a></div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>
                                        
               </div>
          </div>
          <center><h2>...</h2></center>
     </section>
     <!-- NEWS -->
       
     
     <hr>
     <div class="container py-3" id="newss">
          <div class="title h1 text-center">Last News</div> <br>
          <!-- Card Start -->
          <div class="card">
               <% for(var i = 0; i < result.length ; i++) { %>
            <div class="row ">
        
              <div class="col-md-7 px-3">
                <div class="card-block px-6">
                  <h4 class="card-title"><h4> Title : <%= result[i].title %> </h4>
                  <p class="card-text"><strong> Description </strong> : <br><%= result[i].description%></p>
                  <br>
                  <p> last update :<%= result[i].date %></p>
                  <br>
                  <a href="./uploads/<%= result[i].myFile %>" class="mt-auto btn btn-primary " download> <img src="./images/download.svg" width="30px" height="30px"> Download</a>
                </div>
              </div>
              <!-- Carousel start -->
              <div class="col-md-5">
                
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block" src="./uploads/<%= result[i].myFile %>" width="350px" height="300px">
                    </div>
                  
          
                  </div>
                </div>
              </div> <hr size="10pxs"><br><br>
              <% } %> 
            </div>
          </div>
     
     <!-- <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img"> -->
     <!-- CONTACT -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-6">
                         <img src="images/Asset 3.png" class="img-responsive">
                    </div>
                <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form  method="POST" action="/message">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Contact Us</h2>
                              </div>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        <label for="telephone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
                                        <label for="Message">Additional Message</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                        <button type="submit" class="form-control" id="cf-submit" >Send Message </button>
                                   </div>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>
     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12 border-top">
                         <div class="col-md-6 col-sm-2">
                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2020 
                                   
                                   | Design: Ayoub ben younes</p>
                              </div>
                         </div>
                        
                         <div class="col-md-2 col-sm-9 text-align-center">
                              <div class="angle-up-btn"> 
                                  <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                              </div>
                         </div>   
                    </div>
                    
               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.sticky.js"></script>
     <script src="js/jquery.stellar.min.js"></script>
     <script src="js/wow.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/custom.js"></script>
     <!-- slide partie about -->
    <script>
          var myIndex = 0;
          carousel();
          
          function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}    
            x[myIndex-1].style.display = "block";  
            setTimeout(carousel, 2000); // Change image every 2 seconds
          }
     </script>
</body>
</html>